#root {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.searchbar {
  text-align: center;
  padding: 30px 0;
}

.searchField {
  width: 500px;
}

.searchButton {
  cursor: pointer;
}

.event li  {
  display: block;
}

.pagination {
  text-align: center;
  padding-top: 30px;
}

.pagination ul {
  display: inline-block;
}

.pagination li {
  display: inline-block;
  cursor: pointer;
  padding: 0 15px;
}